body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div#nav {
    width: 100%;
    float: left;
}
div#nav ul {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 10px 0;
}
div#nav ul li {
    float: left;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
div#nav ul li a {
    text-decoration: none;
    color: #555;
    display: block;
    padding: 10px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div#nav ul li a:hover {
    color: #EEE;
    background-color: #555;
}
div#shell {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    letter-spacing: .8px;
    background-color: black;
    position: absolute;
    border: 2px solid #CCC;
    padding: 10px;
    right: 0;
    left: 0;
    top: 60px;
    bottom: 0;
    color: white;
    overflow: auto;
}
div#shell p {
    margin: 2px 0 2px 0;
}
input#shell_input {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: .8px;
    width: 90%;
    outline: none;
    border: 0;
    background-color: black;
    color: white;
    margin: 0;
}
div#nav a.selected {
      color: #EEE;
      background-color: #555;           
}
